.head {
    font-size: 70px !important;
    margin-bottom: -3px !important;
    letter-spacing: 0.8rem
}



@media screen and (max-width: 600px) {
    .head {
        font-size: 60px !important;

    }

}

@media screen and (max-width: 450px) {

    .tranding-bg-m {
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
    }

    .tranding-sec {
        padding: 50px 0 !IMPORTANT;
        z-index: 9;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .head {
        font-size: 40px !important;
    }

}