.shopproduct-main {display: flex;width: 100%;justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;}

.shopproduct-sort {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.shopproduct-filter {
    width: 100%;
}

.shop-product-sort {
    padding: 14px 18px;
    display: flex;
    align-items: center;
    gap: 0 5px;
    justify-content: center;
    width: 185px;
    height: 48px;
    border: 1px solid #AAAAAA;
    border-radius: 80px;
}

.shop-product-sort p {
    margin: 0;
    font-family: 'APOLLO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #AAAAAA;
}

.shop-product-sort select.sort {
    border: 0;
    font-family: 'APOLLO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #000000;
}

.product-sort-listing {
    width: max-content;
}

.product-sort-listing p {
    display: flex;
    gap: 0 5px;
    font-family: 'APOLLO';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #AAAAAA;
}