@font-face {
  font-family:APOLLO;
  src: url(./assets/APOLLO.otf);
}

body {
  margin: 0;
  font-family: Apollo !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Apollo Sans Serif !important;
}

.navbar-nav a.nav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.mask button.btn.btn-primary {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #000000;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button p {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #AAAAAA;
  position: relative;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button.active p {
  color: #000;
}

.marquee .card .card-title.h5 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #0E0D0D;
}

.marquee .card p.card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #AAAAAA !important;
}

.marquee .card button.btn.btn-primary {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0E0D0D !important;
  padding: 8px 28px !important;
}

.marquee .card button.btn.btn-primary {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0E0D0D !important;
  padding: 8px 28px !important;
}

.mask .d-flex.justify-content-center.align-items-center p.text-white.text-uppercase.head {
font-weight: 400;
font-size: 60px !important;
line-height: 70px;
text-align: center;
letter-spacing: 0.24em;
text-transform: uppercase !IMPORTANT;
color: #FFFFFF !important;
}

.mask 
.d-flex.justify-content-center.align-items-center p.text-white {
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
margin: 10px 0 10px 0 !important;
}

.mask .d-flex.justify-content-center.align-items-center p.text-white.mb-2 button.btn.btn-primary {
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.02em;
color: #0E0D0D;
padding: 16px 60px !important;
}

.maindiv h3 {
font-weight: 400;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
color: #000000;
}

.d-flex.justify-content-center.align-items-center h2 {
font-weight: 400;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
color: #000000;
margin: 0 0 100px 0;
}

.topcat img.img-fluid {
width: 400px !important;
height: 300px !IMPORTANT;
}

.d-flex.flex-row.flex-wrap.justify-content-around {
gap: 80px 0px;
}

.topcat p {
margin: 10px 0 25px 0;
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.02em;
color: #000000;
}

.topcat button.btn.btn-primary {
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF !important;
padding: 14px 28px !important;
}

.text-center .col-sm {
  padding: 0 10px;
}

.text-center .col-sm h3.mt-4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.text-center .col-sm img.img-fluid {
  width: 100%;
}

.text-center .col-sm p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #7C7C7C;
  width: 70%;
  margin: 0 auto;
}


.d-flex.justify-content-center.align-items-center.flex-column h2 {
  margin: 000;
}

.d-flex.justify-content-center.align-items-center.flex-column h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.d-flex.justify-content-between.modal-footer div p {
  font-weight: 400 !IMPORTANT;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.d-flex.justify-content-between.modal-footer .d-flex.flex-row.m-4 {
  justify-content: end;
  gap: 0 25px;
}

.d-flex.justify-content-between.modal-footer .d-flex.flex-row.m-4 img {
  cursor: pointer;
}

.d-flex.justify-content-row p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button p sup.fs-6 {
  position: absolute;
  right: 18px;
  top: 4px;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item {
  width: max-content !important;
  flex: unset;
}

@media screen and (max-width: 1024px) {
  ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button p {
    font-size: 22px;
}
.banner-sec p.text-white.mb-0 {
  padding: 200px 0 !IMPORTANT;
}

.tranding-sec {
  padding: 100px 0 !IMPORTANT;
}

.text-center .col-sm p {
  width: 100%;
}
.newsletter-sec .d-flex.justify-content-center.align-items-center.flex-column {
  padding: 100px 0 !IMPORTANT;
}

.d-flex.justify-content-between.modal-footer .d-flex.flex-row.m-4 {
  margin: 0;
}

.justify-content-between {
  align-items: flex-start;
}
.d-flex.justify-content-between.modal-footer div p {
  padding: 0 10px !IMPORTANT;
}

}

@media screen and (max-width: 768px) {
  .newsletter-sec .d-flex.justify-content-center.align-items-center.flex-column {
    padding: 100px 0 !IMPORTANT;
}

.d-flex.justify-content-between.modal-footer .d-flex.flex-row.m-4 {
    gap: 0 0;
}

.justify-content-between {
    align-items: flex-start;
}

.container-fluid {
    margin: 50px 0 0px 0 !important;
    padding: 0 0% 0 0% !IMPORTANT;
}

.maindiv {
    margin: 90px 0px;
}

.topcat {
    width: 50%;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button {
    padding: 0 0px !IMPORTANT;
}

.text-center .col-sm p {
    font-size: 16px !IMPORTANT;
}

.text-center .col-sm h3.mt-4 {
    margin: 20px 0 5px 0 !IMPORTANT;
}

.d-flex.justify-content-between.footer-sec.modal-footer {
    padding: 70px 20px 20px 20px !IMPORTANT;
}
ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button {
  padding: 0 !IMPORTANT;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button p {
  font-size: 19px !important;
}

.container-fluid {
  margin: 50px 0 !important;
  padding: 0 0 0 0px !IMPORTANT;
}

.maindiv {
  margin: 80px 0px;
}

.d-flex.justify-content-center.align-items-center h2 {
  margin: 0 0 60px 0;
}

.topcat {
  width: 50% !important;
}

.d-flex.flex-row.flex-wrap.justify-content-around {
  gap: 30px 0;
}
}

@media screen and (max-width: 657px) {
  .banner-sec p.text-white.mb-0 {
    padding: 250px 0 !important;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button {padding: 0 0 0px 10px !important;}

ul.mb-3.nav.nav-tabs.nav-justified {
    gap: 0 10px;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item {
    flex: unset;
    width: max-content;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button p {
    font-size: 19px !important;
    text-align: start;
}

.banner-sec p.text-white.mb-0 {
  padding: 250px 0 !important;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button {padding: 0 0 0px 10px !important;}

ul.mb-3.nav.nav-tabs.nav-justified {
  gap: 0 10px;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item {
  flex: unset;
  width: max-content;
}

ul.mb-3.nav.nav-tabs.nav-justified li.nav-item button p {
  font-size: 19px !important;
  text-align: start;
}

.maindiv {
  margin: 150px 0;
  padding: 0 20px !IMPORTANT;
}

.maindiv .marquee-container {}

.marquee-container {}

.maindiv .marquee-container .marquee {}

.maindiv .marquee-container .marquee .card {}

.maindiv .marquee-container .marquee .card img.card-img-top {max-width: 120px !IMPORTANT;}

.maindiv h3 {
  font-size: 32px;
  line-height: 33px;
  margin: 0 0 50px 0 !IMPORTANT;
}

.d-flex.justify-content-center.align-items-center h2 {
  font-size: 33px;
  line-height: 33px;
  margin: 0 0 40px 0;
}

.topcat img.img-fluid {
  height: 150px !IMPORTANT;
  width: 80% !IMPORTANT;
}

.card-sec .container {
  margin: 120px 0px !IMPORTANT;
}

.card-sec {}

.d-flex.justify-content-between.footer-sec.modal-footer .d-flex.justify-content-row {
  width: 50% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.d-flex.justify-content-between.footer-sec.modal-footer {
  padding: 40px 10px 10px 10px !important;
  position: relative;
}

.d-flex.justify-content-between.modal-footer div p {
  font-size: 17px !important;
  font-weight: 400;
}

.d-flex.justify-content-between.modal-footer .d-flex.flex-row.m-4 {
  position: absolute;
  right: 0;
  top: 18px;
}

.mask .d-flex.justify-content-center.align-items-center p.text-white.text-uppercase.head {
  font-size: 42px !IMPORTANT;
  margin: 0000 !IMPORTANT;
}

.card-sec .container .text-center.row {
  gap: 100px 0;
}

}